*.iml
.gradle
/local.properties
/.idea/
/.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.claude
/creds
*.txt
/reports
/maestro/.maestro/
.claudeignore
*/*.md


docs/
android-doc/
_bmad/
_bmad-output/
